/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/*  белый #FFFFFF */
/* меил и тел в футере rgba(255, 255, 255, 0.6) */
/* акцент  #2196F3 */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона  #F5F4FA */
/* цвет фона футера #2F303A */

/* Hero */
.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero .title {
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  margin-top: 30px;
}

/* Headlines */
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Features */
.features {
  display: flex;
  padding-bottom: 0;
}

.features .item {
  display: block;
  width: calc((100%-30 * 3) / 4);
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
/* Оставила оформление через :before для примера. Преподаватель на вебинаре разрешил */
.features .item::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features .subtitle {
  margin-top: 30px;
}
.features .text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Activity */
.activity .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity-list {
  display: flex;
  margin-top: 50px;
  padding: 0;
}
.activity-item {
  width: calc((100%-30 * 2) / 3);
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}
.activity-relative {
  position: relative;
}
.activity-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/* Our teem */
.team {
  background-color: var(--secondary-bg-color);
  font-size: 16px;
  line-height: 1.19;
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .text {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
}
.team .title {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.worker {
  display: flex;
  margin-top: 50px;
}
.worker .item {
  padding: 0;
  width: calc((100%-30 * 3) / 4);
  background-color: var(--primary-bg-color);
}
.worker .item:not(:last-child) {
  margin-right: 30px;
}
.worker-content {
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-socials {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-link:hover .icon-socials {
  fill: var(--primary-bg-color);
}
.icon-socials:hover {
  fill: var(--primary-bg-color);
}

/* Clients */
.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  margin-top: 50px;
}
.clients-list .item {
  width: calc((100%-30 * 5) / 6);
}
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 170px;
  height: 90px;

  color: var(--clients-link-color);
  border: 1px solid var(--clients-link-color);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .icon-clients {
  fill: var(--accent-color);
}
.icon-clients:hover {
  fill: var(--accent-color);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px 39px 41px;

  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}
.form-headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--title-text-color);
}
.modal-form:first-child {
  margin-top: 12px;
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 10px;

  font-size: 12px;
  letter-spacing: 0.01em;
}
.form-label .form-input {
  margin-top: 4px;
  padding: 12px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
}
.icon-modal {
  fill: currentColor;
}
.form-label:focus-within .form-input {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:focus-within .icon-modal {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:required:valid {
  border-color: var(--accent-color);
}
.form-input:required:valid + .icon-modal {
  fill: var(--accent-color);
}
.comment {
  margin-top: 10px;
  padding: 12px 16px;
  max-width: 448px;
  max-height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment:not(:placeholder-shown),
.comment:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
  display: flex;
  align-items: center;

  margin-top: 25px;

  font-size: 14px;
  line-height: 1.71;
}
.checkbox-link {
  color: var(--accent-color);
}
/* Альтернатива visually-hidden */
/* .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
} */
.checkbox-icon {
  display: inline-block;

  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.send-button {
  margin-top: 30px;

  display: flex;
  justify-content: center;
}
